env
porec2complexes
sprite2complexes
*CDH0002NR9L_hg38_CTCF_filt_comp_FDR_0.1_ALL_motifext4kbboth.region*
*.pptx
*out*
*__pycache__*
*.DS_Store*
*GM12878*
medium_test_results/
*b_centered_test*
*left_test*
*right_test*
*both_test*
cr1491_SE_Left.bed
cr1491_SE_Right.bed
greatlakes/
*test_folder*
*hts*
*bgzip*
bin/annot-tsv
tabix
share/
*.pairs*
*.clusters*
*.csv*
pairs2regions
*LHG0035N_0035V_0045V*
hg38.chrom.sizes
.vscode/
SPRITE_regions.ext250bp.region
sprite2regions
target/
Cargo.lock
*intersected_line_*
filter_regions.bed
logs/
*test_greatlakes_bedtools*
*default.fragment_alignments.csv*
porec2regions
*.dSYM*
testing
*test_multiple*
!test_multiple_sort.py
!test_unlimited_multiple_sort.py
!GM12878_SPRITE_4DNFIBEVVTN5.hg38_multiple_AandBandC_sort_with_plots.py
*4DNFIBEVVTN5*
miasort.egg-info
build
dist
pairs2complexes
test.py
!tests/**