env
*CDH0002NR9L_hg38_CTCF_filt_comp_FDR_0.1_ALL_motifext4kbboth.region*
*.pptx
*out*
*__pycache__*
*.DS_Store*
*GM12878*
medium_test_results/
*b_centered_test*
*left_test*
*right_test*
*both_test*
cr1491_SE_Left.bed
cr1491_SE_Right.bed
greatlakes/
*test_folder*
*hts*
*bgzip*
bin/annot-tsv
tabix
share/