asttokens==2.4.1
contourpy==1.2.1
cycler==0.12.1
decorator==5.1.1
executing==2.0.1
fonttools==4.52.4
ipdb==0.13.13
ipython==8.24.0
jedi==0.19.1
kiwisolver==1.4.5
matplotlib==3.9.0
matplotlib-inline==0.1.7
numpy==1.26.4
packaging==24.0
pandas==2.2.2
parso==0.8.4
pexpect==4.9.0
pillow==10.3.0
prompt_toolkit==3.0.45
ptyprocess==0.7.0
pure-eval==0.2.2
pybedtools==0.10.0
Pygments==2.18.0
pyparsing==3.1.2
pysam==0.22.1
python-dateutil==2.9.0.post0
pytz==2024.1
scipy==1.13.1
six==1.16.0
stack-data==0.6.3
tqdm==4.66.4
traitlets==5.14.3
tzdata==2024.1
wcwidth==0.2.13
